{% extends "reg_jounals/index.html" %}

{%block title%}Добавить запись{% endblock %}
{%block header%}Новый табель учета рабочего времени{% endblock %}

{%block content%}


<form class="add_form" action="{% url 'tabel_add_url'%}" method="get">
  {%csrf_token%}
  <input type="text" name="t_year" value="">
  <input type="text" name="t_month" id="">
  <select name="t_dep" class="" name="">
    {% for dep in deps %}
    <option value="{{dep.dep_name}}">{{dep.dep_name}}</option>
  {%endfor%}
  </select>

  <input class="btn btn-success" type="submit"  value="Добавить" />
  <a class="btn btn-outline-danger" href=".">Отмена</a>
</form>

{%endblock%}
