{% extends "reg_jounals/index.html" %}




{%block title%}Добавить запись{% endblock %}
{%block header%} <a href=".." class="btn btn-outline-info">< Назад</a>  Новый табель учета рабочего времени{% endblock %}
{% block content %}
<style>
.container
{
  max-width: 1440px !important;
  float: left !important;
  margin-top: 150px;
}

.ti_times span {
  text-align: center;
  font-weight: bold;
}

.ti_times input {
  text-align: center;
}

.t_body {
  margin-top: 16px;
}

.ti_times {
  display: grid;
      grid-template-columns: repeat(31, 47px);
      grid-template-rows: repeat(2, 33px);
      margin-top: 15px;
      grid-gap: 3px;
}
}
</style>

{% if form.errors%}

<div class="alert alert-danger mt-5" role="alert">
{{form.errors}}
</div>
{%endif%}
<form class="tabel_form" action="" method="post">
  {% csrf_token %}
<div class="ti_head">
{{form.ti_year}}
{{form.ti_month}}
{{form.ti_dep}}
</div>
<div class="ti_body">
  {{form.ti_employer}}
  <div class="ti_times">
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>5</span>
    <span>6</span>
    <span>7</span>
    <span>8</span>
    <span>9</span>
    <span>10</span>
    <span>11</span>
    <span>12</span>
    <span>13</span>
    <span>14</span>
    <span>15</span>
    <span>16</span>
    <span>17</span>
    <span>18</span>
    <span>19</span>
    <span>20</span>
    <span>21</span>
    <span>22</span>
    <span>23</span>
    <span>24</span>
    <span>25</span>
    <span>26</span>
    <span>27</span>
    <span>28</span>
    <span>29</span>
    <span>30</span>
    <span>31</span>
  {{form.ti_TypeTime1}}
  {{form.ti_TypeTime2}}
  {{form.ti_TypeTime3}}
  {{form.ti_TypeTime4}}
  {{form.ti_TypeTime5}}
  {{form.ti_TypeTime6}}
  {{form.ti_TypeTime7}}
  {{form.ti_TypeTime8}}
  {{form.ti_TypeTime9}}
  {{form.ti_TypeTime10}}
  {{form.ti_TypeTime11}}
  {{form.ti_TypeTime12}}
  {{form.ti_TypeTime13}}
  {{form.ti_TypeTime14}}
  {{form.ti_TypeTime15}}
  {{form.ti_TypeTime16}}
  {{form.ti_TypeTime17}}
  {{form.ti_TypeTime18}}
  {{form.ti_TypeTime19}}
  {{form.ti_TypeTime20}}
  {{form.ti_TypeTime21}}
  {{form.ti_TypeTime22}}
  {{form.ti_TypeTime23}}
  {{form.ti_TypeTime24}}
  {{form.ti_TypeTime25}}
  {{form.ti_TypeTime26}}
  {{form.ti_TypeTime27}}
  {{form.ti_TypeTime28}}
  {{form.ti_TypeTime29}}
  {{form.ti_TypeTime30}}
  {{form.ti_TypeTime31}}
  {{form.ti_time1}}
  {{form.ti_time2}}
  {{form.ti_time3}}
  {{form.ti_time4}}
  {{form.ti_time5}}
  {{form.ti_time6}}
  {{form.ti_time7}}
  {{form.ti_time8}}
  {{form.ti_time9}}
  {{form.ti_time10}}
  {{form.ti_time11}}
  {{form.ti_time12}}
  {{form.ti_time13}}
  {{form.ti_time14}}
  {{form.ti_time15}}
  {{form.ti_time16}}
  {{form.ti_time17}}
  {{form.ti_time18}}
  {{form.ti_time19}}
  {{form.ti_time20}}
  {{form.ti_time21}}
  {{form.ti_time22}}
  {{form.ti_time23}}
  {{form.ti_time24}}
  {{form.ti_time25}}
  {{form.ti_time26}}
  {{form.ti_time27}}
  {{form.ti_time28}}
  {{form.ti_time29}}
  {{form.ti_time30}}
  {{form.ti_time31}}
  {{form.ti_workdays}}
  {{form.ti_weekends}}
  </div>
  <input type="submit" name=""  class="btn btn-success" value="Добавить сотрудника в табель">
</div>
</form>
{%endblock%}
